<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--====== Title ======-->
    <title>Seylon - Classified Ads HTML Template.</title>
    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="resources/images/logo.png"
      type="image/png"
    />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="resources/css/bootstrap.min.css" />
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="resources/css/fontawesome.min.css" />
    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="resources/css/nice-select.css" />
    <!--====== Jquery ui css ======-->
    <link rel="stylesheet" href="resources/css/jquery-ui.min.css" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="resources/css/magnific-popup.css" />
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="resources/css/slick.css" />
    <!--====== Default css ======-->
    <link rel="stylesheet" href="resources/css/default.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="resources/css/style.css" />
  </head>
  <body>
    <!--====== PRELOADER PART START ======-->
    <div class="preloader"><div class="load"></div></div>
    <!--====== PRELOADER PART ENDS ======--><!--====== HEADER PART START ======-->
    <section class="header-area">
      <div class="header-top header-top-2">
        <div class="container">
          <div
            class="header-top-wrapper d-flex justify-content-center justify-content-md-between align-items-center"
          >
            <div class="header-top-left d-none d-md-block">
              <ul class="header-meta">
                <li>
                  <a href="#"><i class="fal fa-phone"></i>+88 018 522 369 36</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fal fa-envelope"></i>info.seylon@gmail.com</a
                  >
                </li>
              </ul>
            </div>
            <div class="header-top-right">
              <div class="header-follow d-flex align-items-center">
                <ul class="social">
                  <li><span>Follow Us:</span></li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
                <ul class="header-login">
                  <li>
                    <a href="sign-in.html"
                      ><i class="fal fa-sign-in-alt"></i>Sign In</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-menu header-menu-1">
        <div class="horizontal-header d-lg-none">
          <div class="container">
            <div
              class="horizontal-header d-flex justify-content-between align-items-center"
            >
              <a
                href="javascript:void(0)"
                id="horizontal-navtoggle"
                class="navtoggle"
                ><i class="fal fa-bars"></i></a
              ><span class="smllogo"
                ><img
                  src="resources/images/logo.png"
                  alt="logo"
                  width="120" /></span
              ><a href="" class="callusbtn"
                ><i class="fal fa-phone" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="horizontal-main">
          <div class="container">
            <div
              class="horizontal-wrapper d-flex justify-content-between align-items-center"
            >
              <div class="desktoplogo">
                <a href="/"
                  ><img src="resources/images/logo-2.png" alt="logo"
                /></a>
              </div>
              <!--Nav-->
              <nav class="horizontalMenu">
                <ul class="horizontalMenu-list">
                  <li class="active" aria-haspopup="true">
                    <a href="index.html"
                      >Home <i class="fal fa-chevron-down"></i
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="index.html" class="active">Home 01</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-2.html">Home 02</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-3.html">Home 03</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-4.html">Home 04</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-5.html">Home 05</a>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true">
                    <a href="about.html">About Us </a>
                  </li>
                  <li class="position-static" aria-haspopup="true">
                    <a href="#">Pages <i class="fal fa-chevron-down"></i></a>
                    <div class="horizontal-megamenu">
                      <div class="container">
                        <div class="megamenu-content">
                          <div class="row">
                            <ul class="link-list">
                              <li class="title">Home pages</li>
                              <li><a href="index.html">Home 01</a></li>
                              <li><a href="index-2.html">Home 02</a></li>
                              <li><a href="index-3.html">Home 03</a></li>
                              <li><a href="index-4.html">Home 04</a></li>
                              <li><a href="index-5.html">Home 05</a></li>
                            </ul>
                            <ul class="link-list">
                              <li class="title">Custom pages</li>
                              <li><a href="caategory.html">Caategory</a></li>
                              <li><a href="ads-grid.html">Ads Grid</a></li>
                              <li><a href="ads-grid-left.html">Ads Left</a></li>
                              <li>
                                <a href="ads-grid-right.html">Ads Right</a>
                              </li>
                              <li>
                                <a href="ads-details.html">Ads Details</a>
                              </li>
                            </ul>
                            <ul class="link-list">
                              <li>
                                <a href="seller-author-list.html"
                                  >Seller Author</a
                                >
                              </li>
                              <li>
                                <a href="se1ller-author-list.html"
                                  >Seller Author List</a
                                >
                              </li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="faq.html">FAQ</a></li>
                              <li>
                                <a href="how-it-work.html">How It Work</a>
                              </li>
                            </ul>
                            <ul class="link-list">
                              <li class="title">User Pages</li>
                              <li><a href="dashboard.html">Dashboard</a></li>
                              <li><a href="profile.html">Profile</a></li>
                              <li><a href="my-ads.html">My Ads</a></li>
                              <li><a href="my-favorite.html">Favorite</a></li>
                              <li><a href="manged.html">Manged</a></li>
                            </ul>
                            <ul class="link-list">
                              <li><a href="payments.html">Payments</a></li>
                              <li>
                                <a href="change-password.html"
                                  >Change Password</a
                                >
                              </li>
                              <li><a href="sign-in.html">Sign In</a></li>
                              <li><a href="sign-up.html">Sign Up</a></li>
                              <li><a href="ad-posts.html">Ad Posts</a></li>
                              <li><a href="#">Classifieds List</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li aria-haspopup="true">
                    <a href="blog-archive.html"
                      >Blog <i class="fal fa-chevron-down"></i
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="blog-archive.html"
                          >Blog<i
                            class="fal fa-angle-right d-none d-lg-block"
                          ></i
                        ></a>
                        <ul class="sub-menu">
                          <li aria-haspopup="true">
                            <a href="blog-archive.html">Blog Archive</a>
                          </li>
                          <li aria-haspopup="true">
                            <a href="blog-grid.html">Blog Grid</a>
                          </li>
                          <li aria-haspopup="true">
                            <a href="blog-grid.html">Blog Right</a>
                          </li>
                        </ul>
                      </li>
                      <li aria-haspopup="true">
                        <a href="blog-details.html">Blog Details</a>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true">
                    <a href="contact.html"
                      >Contact Us <span class="wsarrow"></span
                    ></a>
                  </li>
                  <li aria-haspopup="true" class="d-lg-none">
                    <a class="main-btn" href="ad-posts.html">Post Free Ad</a>
                  </li>
                </ul>
              </nav>
              <div class="horizontal-btn d-none d-lg-block">
                <a href="#" class="main-btn">Post Free Ads</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== HEADER PART ENDS ======--><!--====== PAGE BANNER PART START ======-->
    <section class="page-banner-sign-up">
    </section>
    <!--====== GET SEARCH FORM PART ENDS ======--><!--====== SING IN PART START ======-->
    <section class="sing-in-area pt-70">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div
              class="sing-in-form-area mt-45 wow fadeIn"
              data-wow-duration="1s"
              data-wow-delay="0.4s"
            >
              <h4 class="sing-in-title">
                <i class="fal fa-user"></i>Sign <span>Up.</span>
              </h4>
              <p class="text">
                Morbi et sagittis dui,sed fermentum ante. Pellentesque molestie
                sit amet dolor vel euismod.
              </p>
              <div class="sing-in-form-wrapper">
                <form action="/sign-up" method="POST">
                  <div class="single-form mt-45">
                    <label>Tipo de usuario</label
                    ><select name="rol">
                      <option value="pasajero" selected>Pasajero</option>
                      <option value="conductor">Conductor</option>
                    </select>
                  </div>
                  <br>
                  <div class="single-form mt-45">
                    <label>User name</label
                    ><input type="text" name="name" placeholder="Your Name :" />
                  </div>
                  <div class="single-form mt-45">
                    <label>Email</label
                    ><input type="email" name="email" placeholder="Email :" />
                  </div>
                  <div class="single-form mt-45">
                    <label>Password</label
                      ><input type="password" name="password" placeholder="********" />
                    </div>
                  <div class="single-form mt-15">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="facebook-sing-up mt-30">
                          <a href="#"
                            ><i class="lni-facebook-original"></i>Facebook</a
                          >
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="gooogle-sing-up mt-30">
                          <a href="#"><i class="lni-google"></i>Google Plus</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="single-form mt-45 d-sm-flex justify-content-between"
                  >
                    <div class="form-checkbox">
                      <input
                        type="checkbox"
                        name="checkbox1"
                        id="checkbox1"
                      /><label for="checkbox1"></label
                      ><span>I agree to the terms and policy.</span>
                    </div>
                  </div>
                  <div class="single-form mt-45">
                    <button type="submit" class="main-btn">Sign Up!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
    <!--====== SING IN PART ENDS ======--><!--====== BRAND PART START ======-->
    <section class="brand-area pt-90 pb-120">
      <div class="container">
        <div class="brand-wrapper-2 d-flex flex-wrap justify-content-center">
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-1.png" alt="brand" />
              <h6 class="title">Movie Star</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-2.png" alt="brand" />
              <h6 class="title">Dropbox</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-3.png" alt="brand" />
              <h6 class="title">Evexa.ev</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-4.png" alt="brand" />
              <h6 class="title">Abit hub</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-5.png" alt="brand" />
              <h6 class="title">Wdgreen</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-6.png" alt="brand" />
              <h6 class="title">Sketch</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-7.png" alt="brand" />
              <h6 class="title">Dribbble</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-8.png" alt="brand" />
              <h6 class="title">Behance</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-9.png" alt="brand" />
              <h6 class="title">24Webpro</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-10.png" alt="brand" />
              <h6 class="title">Rinbuild ri</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-11.png" alt="brand" />
              <h6 class="title">Flyingle</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-12.png" alt="brand" />
              <h6 class="title">Jusqua</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-13.png" alt="brand" />
              <h6 class="title">99Design</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-14.png" alt="brand" />
              <h6 class="title">Satadata</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-15.png" alt="brand" />
              <h6 class="title">Taranam</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="resources/images/brand/brand-16.png" alt="brand" />
              <h6 class="title">Weekin</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== BRAND PART ENDS ======--><!--====== FOOTER PART START ======-->
    <footer class="footer-area">
      <div class="footer-top pt-20 pb-50">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="row">
                <div class="col-6">
                  <div class="single-visitor mt-25">
                    <span>25,329,532</span>
                    <p>Our Unique visitor</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="single-visitor mt-25">
                    <span>25,329,53253825</span>
                    <p>Our Total visitor</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div
                class="footer-follow d-flex align-items-center justify-content-center mt-25"
              >
                <h5 class="title">Follow Us</h5>
                <ul class="social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-widget pt-20 pb-70">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="footer-about mt-50">
                <a href="#"
                  ><img src="resources/images/logo-2.png" alt="Logo"
                /></a>
                <p>
                  There are many variations of assages of Lorem Ipsum
                  available,but the rity have suffered alteration in some frm,by
                  injected humour.
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-link mt-45">
                <h4 class="footer-title">About Us</h4>
                <div class="link-wrapper d-flex flex-wrap">
                  <div class="link">
                    <ul>
                      <li><a href="#">Our Product</a></li>
                      <li><a href="#">Documentation</a></li>
                      <li><a href="#">Our Services</a></li>
                      <li><a href="#">Apps Download</a></li>
                    </ul>
                  </div>
                  <div class="link">
                    <ul>
                      <li><a href="#">Get Started Us</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Needs Helps?</a></li>
                      <li><a href="#">Join With Us</a></li>
                      <li><a href="#">Ask Question</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-4">
              <div class="footer-link mt-45">
                <h4 class="footer-title">Quick Links</h4>
                <ul class="link">
                  <li><a href="#">Marketplace</a></li>
                  <li><a href="#">Documentation</a></li>
                  <li><a href="#">Customers</a></li>
                  <li><a href="#">Carrers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-8">
              <div class="footer-contact mt-45">
                <h4 class="footer-title">Communication</h4>
                <div class="single-contact d-flex align-items-center mt-25">
                  <div class="contact-icon"><i class="fal fa-phone"></i></div>
                  <div class="contact-content media-body">
                    <p>Call Us <br />+017 123 456 78</p>
                  </div>
                </div>
                <div class="single-contact d-flex align-items-center mt-25">
                  <div class="contact-icon">
                    <i class="fal fa-envelope-open-text"></i>
                  </div>
                  <div class="contact-content media-body">
                    <p>Send Message <br />seylon111@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright-text pt-15 pb-30">
        <div class="container">
          <div
            class="footer-copyright-text-wrapper text-center d-md-flex align-items-center justify-content-between"
          >
            <div class="footer-copyright mt-15">
              <p>
                Copywright by
                <a href="http://www.bootstrapmb.com">@24webpro</a>.All Rights
                Reserved
              </p>
            </div>
            <div class="footer-text mt-15">
              <ul class="link">
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--====== FOOTER PART ENDS ======--><!--====== GO TO TOP PART START ======-->
    <div class="go-top-area">
      <div class="go-top-wrap">
        <div class="go-top-btn-wrap">
          <div class="go-top go-top-btn">
            <i class="fal fa-angle-double-up"></i
            ><i class="fal fa-angle-double-up"></i>
          </div>
        </div>
      </div>
    </div>
    <!--====== GO TO TOP PART ENDS ======--><!--====== PART START ======--><!-- <section class=""><div class="container"><div class="row"><div class="col-lg-"></div></div></div></section>--><!--====== PART ENDS ======--><!--====== jquery js ======-->
    <script src="resources/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="resources/js/vendor/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="resources/js/slick.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="resources/js/jquery.magnific-popup.min.js"></script>
    <!--====== Ajax Contact js ======-->
    <script src="resources/js/ajax-contact.js"></script>
    <!--====== Validator js ======-->
    <script src="resources/js/validator.min.js"></script>
    <!--====== Wow js ======-->
    <script src="resources/js/wow.min.js"></script>
    <!--====== Menu Horizontal js ======-->
    <script src="resources/js/menu_horizontal.js"></script>
    <!--====== Nice Select js ======-->
    <script src="resources/js/jquery.nice-select.min.js"></script>
    <!--====== Jquery ui js ======-->
    <script src="resources/js/jquery-ui.min.js"></script>
    <!--====== Main js ======-->
    <script src="resources/js/main.js"></script>
    <!--====== Google Map js ======-->
    <script src="http://www.google.cn/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="resources/js/map-script.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined"){ %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= time %>
        }).then(()=>{
            window.location='/<%= ruta %>'
        })
      </script>
      <% } %>
  </body>
</html>
